@model CreateMalYuklemeTalepFormDto
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input type="hidden" id="jwtToken" value="@Context.Session.GetString("JwtToken")" />
<div class="container-fluid">
    <form id="talepForm">
        <div id="step1"></div>
        <div id="step2"></div>
        <div id="step3"></div>
    </form>
</div>
@section Scripts {
    <script src="~/js/malYuklemeTalepForm.js" asp-append-version="true"></script>
}
@section Styles {
    @Html.Raw(@"
        <style>
            @media (max-width: 768px) {
                #productTable td input[type='number'],
                #productTable td input[type='text'] {
                    min-width: 70px !important;
                    font-size: 14px;
                }

                #productTable td {
                    white-space: nowrap;
                    vertical-align: middle;
                }

                #productTable .btn {
                    padding: 4px 8px;
                    font-size: 13px;
                }
            }
        </style>
    ")
}
